// FONTS
$mainFont: "Raleway-Regular";
$reviewFont: "Cardo-Italic";
$buttonFont: "Raleway-SemiBold";
$additionalFont: 'OpenSans-Regular';
$mainFontSize: 14px;
//---font weight---
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
// FONTS/

// COLORS
$color-text_main: #ffffff;
$color-text_footer: #808080;
$color-item: #e84545;
$color-title: #2d3033;
$color-icon: #c6cacc;
$color-icon_border: #e8ecee;
$color-subtitle: #6c7279;
$color-bg_review: #53354a;
$color-bg_1: #3a3e64;
$color-bg_2: #313454;
// COLORS/
