.features-section {
  @include sectionMaxSize;
  padding: 121px 39px;
  min-height: 692px;
  margin: 0 auto;
  @include breakpoint(Tablet){
    padding: 50px 15px;
  }
  
}
.list-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    padding: 50px 0;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    @include breakpoint(Tablet){
      flex-basis: 45%;
    }
    @include breakpoint(Sm){
      flex-basis: 100%;
    }
    img {
      display: inline-block;
      margin: 0 auto;
    }
    h3 {
      @include headingItem-1;
      padding-top: 34px;
      padding-bottom: 25px;
    }
    p{
      @include add-font-properties($mainFont, 1rem, $color-subtitle, $font-normal, 1.5rem);
    }
  }
}
